.loading {
    width:100%; height:100%; background:#fff;
    position:fixed; left:0px; top:0px;
    z-index:1000; /* 이 값으로 레이어의 위치를 조정합니다. */
    display:flex; align-items:center; justify-content:center;
}
.loading .center {width:100%;}
.loading img {width:100px; display:block; margin:0 auto;}
.loading h3 {font-size:20px; text-align:center;}